<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="index::Layout(~{::section})">
<head>	
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>
<body>
		 <Section class="depart">
          <div class="">
        <img src="images/doc1.jpg" alt="">
        <h3>Mr.Doc 1</h3>
        <div class="special">Nephrology </div>
        <div class="special">Medtech Hospital </div>

    </div>
    <div class="profile">
        <h4>Profile</h4>
        <h3>Dr.Doc 1</h3>
        <H4>Surgeon , Nephrology</H4>
        <h5>Fellowship (Neuron Surgeon),
            MS(Medicine),MBBS,FCPS
        </h5>
        
        <h3> Experience : 19 Years+</h3>
        <h3> Languages  : English, Spanish</h3>
        <h3> Types of   : Surgeon</h3>
        <h3> Speciallity: Nephrology</h3>
    
     
    </div>
    </Section>
</body>
</html>