<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="index::Layout(~{::section})">
<head>	
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

 <section class="doc" id="doc">
        <h1 class="heading">Doctors<span>rist</h1></span>
        <!-- input tag -->
        <div class="box-container">
            <div class="box">
                <img src="images/doc1.jpg" alt="">
                <h3>Mr.Doc 1</h3>
                <div class="special">Nephrology </div>
                <a href="doc" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 2</h3>
                <div class="special">Orthopaedics</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 3</h3>
                <div class="special">Gynaecology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 4</h3>
                <div class="special">Internal Medicare</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 5</h3>
                <div class="special">General Physician</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 6</h3>
                <div class="special">Surgeon</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 7</h3>
                <div class="special">Endoccrinology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 8</h3>
                <div class="special">Diabetes Specilist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 9</h3>
                <div class="special">Cardiologist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 10</h3>
                <div class="special">Nephrology </div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 11</h3>
                <div class="special">Orthopaedics</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 12</h3>
                <div class="special">Gynaecology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 13</h3>
                <div class="special">Internal Medicare</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 14</h3>
                <div class="special">General Physician</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 15</h3>
                <div class="special">Surgeon</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 16</h3>
                <div class="special">Endoccrinology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 17</h3>
                <div class="special">Diabetes Specilist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 18</h3>
                <div class="special">Cardiologist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 19</h3>
                <div class="special">Nephrology </div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 20</h3>
                <div class="special">Orthopaedics</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 21</h3>
                <div class="special">Gynaecology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 22</h3>
                <div class="special">Internal Medicare</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 23</h3>
                <div class="special">General Physician</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 24</h3>
                <div class="special">Surgeon</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 25</h3>
                <div class="special">Endoccrinology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 26</h3>
                <div class="special">Diabetes Specilist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 27</h3>
                <div class="special">Cardiologist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 28</h3>
                <div class="special">Nephrology </div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 29</h3>
                <div class="special">Orthopaedics</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 30</h3>
                <div class="special">Gynaecology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 31</h3>
                <div class="special">Internal Medicare</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 32</h3>
                <div class="special">General Physician</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 33</h3>
                <div class="special">Surgeon</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 34</h3>
                <div class="special">Endoccrinology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 35</h3>
                <div class="special">Diabetes Specilist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 36</h3>
                <div class="special">Cardiologist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 37</h3>
                <div class="special">Nephrology </div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 38</h3>
                <div class="special">Orthopaedics</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 39</h3>
                <div class="special">Gynaecology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 40</h3>
                <div class="special">Internal Medicare</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 41</h3>
                <div class="special">General Physician</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 42</h3>
                <div class="special">Surgeon</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 43</h3>
                <div class="special">Endoccrinology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 44</h3>
                <div class="special">Diabetes Specilist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 45</h3>
                <div class="special">Cardiologist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 46</h3>
                <div class="special">Nephrology </div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 47</h3>
                <div class="special">Orthopaedics</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 48</h3>
                <div class="special">Gynaecology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 49</h3>
                <div class="special">Internal Medicare</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 50</h3>
                <div class="special">General Physician</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 51</h3>
                <div class="special">Surgeon</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 52</h3>
                <div class="special">Endoccrinology</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 53</h3>
                <div class="special">Diabetes Specilist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
            <div class="box">
                <img src="images/doc.jpg" alt="">
                <h3>Mr.Doc 54</h3>
                <div class="special">Cardiologist</div>
                <a href="#" class="btn1">View Profile</a>
            </div>
        </div>
    </section>


</body>
</html>