<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="index::Layout(~{::section})">
<head>	
	<meta charset="UTF-8" />
	<title>Document</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<section>
     
	<div class="banner d-flex bodyback"><div class="text-center">
		<span style="padding-top: 70px";
		 class="material-icons red-color" id="mainbird1">local_hospital </span>
			<h1 class="font-weight-bold"><strong id="heading">Medtech</strong></h1>
			<p id="mainbird1">
				we provide total
				health care solution
				<br> an institution that is built, staffed, and equipped for the diagnosis of disease;
				<br> for the treatment, 
				<br>both medical and surgical, of the sick and the injured; and for their housing during this process. 
				<br>The modern hospital also often serves as a centre for investigation and for teaching.
		</p><div class="logo", id="mainbird">
		<img src="../images/flybird.png">
		<div class="logo", id="mainlogo">
			<img src="../images/logohead.jpeg">
  </div></div>
	
     
     
   </style>

	
	
</section>	


</body>
</html>